:root {
  --gradient: linear-gradient(90deg, #ee6352, purple, #ee6352);
}

@keyframes bg-animation {
  0% {background-position: left}
  50% {background-position: right}
  100% {background-position: left}
}

html, body {
    margin: 0;
    padding: 0;
    background: wheat;
    max-width: 100%;
    font-size: 1.125em;
    justify-content: center;
    align-items: center;
}

.container, footer {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button {
    border-radius: 20px;
    border: 3px solid black;
    color: white;
    border: 0;
    cursor: pointer;
    padding: .5em 1.25em;
    background: linear-gradient(90deg, #ee6352, purple, #ee6352);
    background-size: 300%;
    background-position: left;
    transition: background-position 350ms;
}

footer {
    padding: 50px;
}

.title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 3rem;
  color: #ee6352;
}

/*Effects*/

button:hover {
  background-position: right;
}
