html, body {
    margin: 0;
    padding: 0;
    background: wheat;
    max-width: 100%;
}

.container, footer {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button {
    padding: 10px;
    border-radius: 20px;
    border: 3px solid black;
}

footer {
    padding: 50px;
}